{
  "arrowParens": "avoid",
  "singleQuote": true,
  "plugins": [
    "@prettier/plugin-pug",
    "prettier-plugin-pkg",
    "prettier-plugin-svelte"
  ],
  "overrides": [
    {
      "files": ".changeset/**/*",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
