name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ci:
    name: 'Test: Node ${{ matrix.node-version }} - ESLint ${{ matrix.eslint-version }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        eslint-version:
          - 7
          - 8
        node-version:
          - 12
          - 14
          - 16

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Use ESLint ${{ matrix.eslint-version }}
        run: yarn upgrade eslint@${{ matrix.eslint-version }}

      - name: Install
        run: yarn --frozen-lockfile

      - name: Test
        run: yarn mocha

      - name: Perf
        run: TIMING=1 yarn lint
